.cdags-bol-general {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 95%;
}

.cdags-bol-general header,
.cdags-bol-general .content,
.cdags-bol-general header img {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.cdags-bol-general .content img {
    width: 170%;
}

.cdags-bol-general footer {
    width: 100%;
    font-size: 7pt;
    text-align: center;
}

.cdags-bol-general footer img {
    width: 40%;
}

.cdags-bol-general h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 20 0;
}

.cdags-bol-general h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 16 0;
}

.cdags-bol-general h3 {
    font-weight: normal;
    font-size: 15px;
    margin: 15 0;
}

.cdags-bol-general h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 14 0;
}

.cdags-bol-general h5 {
    font-weight: normal;
    font-size: 13px;
    margin: 13 0;
}

.cdags-bol-general h6,
{
    font-weight: bold;
    font-size: 12px;
    margin: 12 0;
}

.cdags-bol-general h1 small {
    font-size: 80%;
    font-weight: normal;
    color: #777;
}

.cdags-bol-general p {
    margin: 14 0;
}

.cdags-bol-general table {
    font-size: 9pt;
    border: double collapse;
    width: 100%;
    margin: 0 auto;
    padding: 20 0;
    text-align: center;
}

.cdags-bol-general table thead,
.cdags-bol-general table tfoot {
    background-color: #3d6099;
    color: #fff;
}

.cdags-bol-general table tr,
.cdags-bol-general table tr th,
.cdags-bol-general table tr td {
    height: 44px;
    border: 1px solid #444;
    padding: 3pt;
}

.cdags-bol-general ul>li {
    font-weight: bold;
}

.cdags-bol-general li ul>li {
    font-weight: normal;
}